# Dependencies
node_modules/
/.pnp
.pnp.js

# Production builds
dist/
build/
coverage/
.vercel/

# Environment variables & secrets
.env
.env.*
!.env.example

# Local runtime data & uploads
/data/
uploads/

# OS & Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.pem
